@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

/* styling text */
body {
  font-family: 'Karla', sans-serif !important;
  color: #777;
}

h3, h4, h2 {
  margin: 10px 0 10px 0;
  letter-spacing: 10px;      
  font-size: 3vmax;
  color: #111;
  font-weight: bold;
}
h5 {
  margin: 5px 0 15px 0;
  letter-spacing: 2px;      
  font-size: 1vmax;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  color: rgb(255, 255, 255);
  font-weight: bold;
}
h6 {
  letter-spacing: 1px;      
  font-size: 1.5vmax;
  color: #222222;
  font-weight: 800;
}

.btn-xs h6 {
  font-size: 1.5rem;
}
.subj { 
  letter-spacing: 2px;      
  font-size: 18px;
  color: #222222;
  font-weight: 400;

}
.btn-primary {
  background-color: #2e2e2e !important;
  color: #e4e4e4;
  border-color: #8064A2;
}

.sub {
  margin-bottom: 35px;
}
.container {
  padding: 80px 100px;
}
.person {
  border: 3px solid transparent;
  margin-bottom: 10px;
  width: 12vmax;
  height: 12vmax;
  opacity: 0.7;
}
.person:hover {
  border-color: #bdbdbd;
}
.carousel-inner img {
  width: 100%; 
  margin: auto;
  opacity: 0.7;
}
.bg-1 {
  background-color: #d5bdaf;
  color: #222222;
}
.bg-2 {
  background-color: #e3d5ca;
  color: #222222;
}
.bg-3 {
  background-color: #f5ebe0;
  color: #222222;
}
.bg-4 {
  background-color: #d6ccc2;
  color: #222222  ;
}
.bg-5 {
  background-color: #edede9;
  color: #222222  ;
}
.bg-6 {
  background-color: #e5e5e5;
  color: #222222  ;

}
.bg-1 h3 {
  color: #fff;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.btns {
  margin-left: 0px;
  padding: 5px 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  background-color: #ff0054 !important;
  color: #f1f1f1 !important;
  border-radius: 5;
  transition: .2s;
}
.btns:hover, .btns:focus {
  background-color: #d81159 !important;
  color: #f1f1f1 !important;
}
h4{
  color: #222222 !important;
  text-align: center;
  font-size: 2vmax;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
.nav-tabs li a {
  color: #777;
}
.navbar {
  font-family: monospace;
  margin-bottom: 0;
  background-color: #adb5bd !important;
  border: 0;
  font-size: 15px !important;
  letter-spacing: 4px;
  opacity: 0.9;
  font-weight: bold;
  text-shadow: 0 0 7px #59595993;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-brand {
  color: #333533 !important;
  padding-top: 0px;
  padding-bottom: 25px;
  font-size: 22px !important;
  font-weight: normal !important;
}
.navbar-brand span{
  color : #8a5a44;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
}
.navbar ul li a{
  transition: all 0.8s;
}
.navbar li a, .navbar { 
  color: #333533 !important;
}
.navbar-nav li a:hover {
  color: #515251 !important;
}
.navbar-nav li.active a {
  color: #8a5a44 !important;
  background-color: #adb5bd !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #3c3c3c !important;
  background-color: #adb5bd !important;
}
.dropdown-menu li a {
  font-weight: bold;
  background-color: #f1f1f1 !important;
  color: #000 !important;
}
.dropdown-menu li a:hover {
  background-color: #d5d5d5 !important;
  color: #222222 !important;
}
.dropdown-menu li.active a {
  color: #222222 !important;
  background-color: #5a5a5a !important;
}

footer {
  background-color: #adb5bd;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #8a5a44 !important;
  text-decoration: none;
}
textarea {
  resize: none;
}
.carousel-control{
  margin-bottom: 0px;
}

.div-header {
  text-align: center;
  padding-bottom: 70px;
  
}

.panel img {
  height: 400px;
}

.div-header h2 {
  color: #222222;
}
.panel-heading {
  height: 55px;
}
.panel-heading, .panel-footer {
  background-color: #343a40;
  border-radius: 5px;
}
.panel {
  background-color: #d5d5d500;
}
.glyphicon {
  color: #bdbdbd;
}
.glyphicon:hover {
  color: #f1f1f1;
}
.equip2:hover, .equip3:hover, .equip4:hover, .equip:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
  transition: 0.5s;
}
.equip2 {
  padding-top: 60px;
  padding-bottom: 61px;
}
.equip3 {
  padding-top: 29px;
  padding-bottom: 0px;
}
/* halaman login */
/* 
.login {
  background-image: url(../image/1.jpg);
  background-size:cover;
  position:relative;
  filter: blur(2px);
} */

.login::before {
	content: " ";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-image: url(../image/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(2px);
	z-index: 0;
}
.login-dark {
  height: 875px;
}

.login-dark form {
  max-width:320px;
  width:90%;
  background-color:#adb5bde9;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#8a5a44;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
  font-weight: 400;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#bdbdbd;
  color: #222222;
  font-weight: 400;
  outline:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}
.icon {
  /* height: 80px; */
  width: 180px;
  padding-bottom: 5rem;
}
.jud {
  letter-spacing: 4px;
  color: #f5ebe0 !important;
}
.log {
  color: #f5ebe0 !important;
}

/* form */

/* tanggal */
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
[type="time"]::-webkit-inner-spin-button {
  display: none;
}
[type="time"]::-webkit-time-picker-indicator {
  opacity: 0;
}
input:not(.radio) {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
.syarat {
  margin-left: 0px;
  padding-left: 0px;
  line-height: 2.5;
}
.objj {
  margin-left: 0px;
  padding-left: 0px;
  line-height: 2.5;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #705718;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
  }

  .fl-icon a:hover {
    color: antiquewhite !important;
  }

  .fl-icon a:focus {
    color: antiquewhite;
  }

  .my-float {
    margin-top: 22px;
  }

  .float .fa {
    transition: all 1s;
  }

  .float:hover .fa {
    transform: rotate(360deg);
  }

  .align-middle {
    place-items: center !important;
  }

  .navbar-nav li.active a {
    color: #8a5a44 !important;
    background-color: #adb5bd !important;
  }
  
  .float {
    z-index: 100;
  }

  @media screen and (min-width: 601px) {
    th.ctr {
      font-size: 18px !important;
    }

    td.align-middle {
      font-size: 14px !important;
    }

    .modal-dialog {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
    }

    .float {
      bottom: 30px;
      right: 35px;
    }
  }

  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    th.ctr {
      font-size: 7px !important;
    }

    td.align-middle {
      font-size: 7px !important;
    }

    .margin-table {
      margin-left: -88px;
    }

    .syrt {
      margin-left: -35px !important;
    }

    .float {
      bottom: 20px;
      right: 30px;
    }
  }

  .carousel-showmanymoveone .carousel-control {
      width: 4%;
      background-image: none;
    }

    .carousel-showmanymoveone .carousel-control.left {
      margin-left: 15px;
    }

    .carousel-showmanymoveone .carousel-control.right {
      margin-right: 15px;
    }

    .carousel-showmanymoveone .cloneditem-1,
    .carousel-showmanymoveone .cloneditem-2,
    .carousel-showmanymoveone .cloneditem-3 {
      display: none;
    }

    @media all and (min-width: 768px) {

      .carousel-showmanymoveone .carousel-inner>.active.left,
      .carousel-showmanymoveone .carousel-inner>.prev {
        left: -50%;
      }

      .carousel-showmanymoveone .carousel-inner>.active.right,
      .carousel-showmanymoveone .carousel-inner>.next {
        left: 50%;
      }

      .carousel-showmanymoveone .carousel-inner>.left,
      .carousel-showmanymoveone .carousel-inner>.prev.right,
      .carousel-showmanymoveone .carousel-inner>.active {
        left: 0;
      }

      .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
      }
    }

    @media all and (min-width: 768px) and (transform-3d),
    all and (min-width: 768px) and (-webkit-transform-3d) {

      .carousel-showmanymoveone .carousel-inner>.item.active.right,
      .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
      }

      .carousel-showmanymoveone .carousel-inner>.item.active.left,
      .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
      }

      .carousel-showmanymoveone .carousel-inner>.item.left,
      .carousel-showmanymoveone .carousel-inner>.item.prev.right,
      .carousel-showmanymoveone .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
      }
    }

    @media all and (min-width: 992px) {

      .carousel-showmanymoveone .carousel-inner>.active.left,
      .carousel-showmanymoveone .carousel-inner>.prev {
        left: -25%;
      }

      .carousel-showmanymoveone .carousel-inner>.active.right,
      .carousel-showmanymoveone .carousel-inner>.next {
        left: 25%;
      }

      .carousel-showmanymoveone .carousel-inner>.left,
      .carousel-showmanymoveone .carousel-inner>.prev.right,
      .carousel-showmanymoveone .carousel-inner>.active {
        left: 0;
      }

      .carousel-showmanymoveone .carousel-inner .cloneditem-2,
      .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
        display: block;
      }
    }

    @media all and (min-width: 992px) and (transform-3d),
    all and (min-width: 992px) and (-webkit-transform-3d) {

      .carousel-showmanymoveone .carousel-inner>.item.active.right,
      .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0;
      }

      .carousel-showmanymoveone .carousel-inner>.item.active.left,
      .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0;
      }

      .carousel-showmanymoveone .carousel-inner>.item.left,
      .carousel-showmanymoveone .carousel-inner>.item.prev.right,
      .carousel-showmanymoveone .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
      }
    }

    /* .container {
      margin-bottom: 50px;
    } */

    body {
      /* font-family: 'Bitter', sans-serif; */
      /* color: #E54A41; */
      /* background-image: url('//static.rtpdesign.co.uk/blog/img/background.png'); */
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 20%;
    }

    p {
      /* font-family: 'Open Sans', sans-serif; */
      color: #333;
      /* margin-bottom: 2em; */
    }

    /* h2 {
      margin: 2em 0 1em;
    } */

    .logo {
      margin: 20px auto;
      height: 100px;
    }

    @media only screen and (min-width: 768px) {
      .logo {
        margin: 28px;
        float: left;
      }
    }

    .title {
      padding: 28px;
      display: table-cell;
      position: relative;
      vertical-align: middle;
      text-align: center;
    }

.longEnough {
  max-height: 350px;
  /* width: 350px; */
  overflow: auto;
}

.inv-text {
  font-size: 20px;
  color: #222222;
  text-align: right;
  margin-top: -5px;
}

.inv-header {
  font-size: 12px;
  color: #8a5a44;
  text-align: right;
  margin-top: -10px;
}

.inv-letter {
  letter-spacing: normal;
  font-size: 11px;
  color: #222222;
  margin-top: 0px;
  margin-bottom: 0px;
}

.inv-head {
  margin-top: 10px;
}

.prod-name {
  color: #8a5a44;
  font-weight: 500;
}

.total-head {
  margin-top: 3px;
  letter-spacing: normal;
  font-size: 12px;
  color: #222222;
}

.inv-total {
  margin-top: 14px;
  letter-spacing: normal;
  font-size: 12px;
  color: #222222;
}

.demo {
  padding: 30px;
  min-height: 280px;
}

.custom-card {
  margin: 20px;
  background: #705718;
  height: 130px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-card-cart {
  margin: 20px;
  background: #40916c;
  height: 130px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-card-onprocess {
  margin: 20px;
  background: #013a63;
  height: 130px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-card-history {
  margin: 20px;
  background: #333533;
  height: 130px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-cancel {
  text-align: end;
}

.btn-end {
  text-align: start;
}

.btn-check {
  margin-right: 40px;
}

.btn-deliv {
  margin-right: 20px;
}

.custom-card-data {
  margin: 20px;
  background: #495057;
  height: 130px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.col-alamat {
  margin-right:2rem;
}

.custom-card-content {
  padding: 0 2rem 0 5rem;
}

.wait-image {
  filter: drop-shadow(8px 8px 8px rgba(41, 41, 41, 0.621));
}

.wait-field {
  padding-top: 1.5rem;
  text-align: left;
}

.field-modal {
  text-align: right;
}

.wait-harga{
  /* padding-top: 20px; */
  font-size: 20px; 
  text-align: right;
}

.card-no {
  font-size: 20px; 
}

.wait-harga-modal{
  padding-top: 20px;
  font-size: 20px; 
  text-align: right;
}

.btn-pay {
  justify-content: end;
}

.wait-details {
  padding-top: 15px;
  text-align: right;
}

.payment {
  margin-top: 20px;
}

.pembayaran {
  margin-top: 10px;
  margin-left: 3px;
}

.detail-card a {
  text-decoration: none;
}

.detail-card {
  text-align: end;
}

.payment-notes {
  font-size: 15px;
  text-align: end;
}

.label-data {
  padding-top: 1.5rem;
}

.dot {
  margin-top: 8px;
  position: relative;
  width: fit-content;
  background: linear-gradient(135deg, #ffff3f, #ffff6a 48%, #ffff9c);
  border-radius: 40px;
  width: 1rem;
  height: 1rem;
}

.dot-success {
  margin-top: 8px;
  position: relative;
  width: fit-content;
  background: linear-gradient(135deg, #11ff00, #73ff69 48%, #c9c9c9);
  border-radius: 40px;
  width: 1rem;
  height: 1rem;
}

.dot-reject {
  margin-top: 8px;
  position: relative;
  width: fit-content;
  background: linear-gradient(135deg, #ff7477, #ec5052 48%, #ff7477);
  border-radius: 40px;
  width: 1rem;
  height: 1rem;
}

.heartbeat {
  margin-top: 8px;
  position: absolute;
  width: fit-content;
  background-color: #ffff3f;
  border-radius: 40px;
  width: 1rem;
  height: 1rem;
  opacity: 0.75;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.heartbeat-success {
  margin-top: 8px;
  position: absolute;
  width: fit-content;
  background-color: #11ff00;
  border-radius: 40px;
  width: 1rem;
  height: 1rem;
  opacity: 0.75;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.heartbeat-reject {
  margin-top: 8px;
  position: absolute;
  width: fit-content;
  background-color: #ff7477;
  border-radius: 40px;
  width: 1rem;
  height: 1rem;
  opacity: 0.75;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.pay-confirm {
  color: #11ff00;
}

.pay-reject {
  color: #ff7477;
}

.pay-delay {
  color: #ffff3f;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
/* .tab-content {
  padding: 10px;
} */
@media (max-width: 767px) {
  .product {
    margin-left: -60px; 
    margin-bottom: 60px;
  }
  .custom-card, .custom-card-onprocess, .custom-card-data {
    margin-left: -120px;
    width: 370px;
  }
  .card-no, .wait-harga {
    font-size: 80%;
  }
  .detail-card {
    margin-top: -120px;
    /* padding-top: 0; */
  }
  .wait-ping {
    margin-top: -25px;
  }
  .nav-tabs.nav-tabs-dropdown,
  .nav-tabs-dropdown {
    border: 1px solid #dddddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  .nav-tabs.nav-tabs-dropdown::after,
  .nav-tabs-dropdown::after {
    content: "☰";
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 2;
    pointer-events: none;
  }
  .nav-tabs.nav-tabs-dropdown.open a,
  .nav-tabs-dropdown.open a {
    position: relative;
    display: block;
  }
  .nav-tabs.nav-tabs-dropdown.open > li.active > a,
  .nav-tabs-dropdown.open > li.active > a {
    background-color: #eeeeee;
  }
  .nav-tabs.nav-tabs-dropdown li,
  .nav-tabs-dropdown li {
    display: block;
    padding: 0;
    /* vertical-align: bottom; */
  }
  .nav-tabs.nav-tabs-dropdown > li > a,
  .nav-tabs-dropdown > li > a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-color: transparent;
  }
  .nav-tabs.nav-tabs-dropdown > li > a:focus,
  .nav-tabs.nav-tabs-dropdown > li > a:hover,
  .nav-tabs.nav-tabs-dropdown > li > a:active,
  .nav-tabs-dropdown > li > a:focus,
  .nav-tabs-dropdown > li > a:hover,
  .nav-tabs-dropdown > li > a:active {
    border-color: transparent;
  }
  .nav-tabs.nav-tabs-dropdown > li.active > a,
  .nav-tabs-dropdown > li.active > a {
    display: block;
    border-color: transparent;
    position: relative;
    z-index: 1;
    background: #fff;
  }
  .nav-tabs.nav-tabs-dropdown > li.active > a:focus,
  .nav-tabs.nav-tabs-dropdown > li.active > a:hover,
  .nav-tabs.nav-tabs-dropdown > li.active > a:active,
  .nav-tabs-dropdown > li.active > a:focus,
  .nav-tabs-dropdown > li.active > a:hover,
  .nav-tabs-dropdown > li.active > a:active {
    border-color: transparent;
  }
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.alert {
	 position: relative;
	 padding: 0;
	 min-width: 250px;
}
 .alert button.close {
	 margin: 0.45rem 1rem;
	 opacity: 0.75;
}
 .alert button.close:hover {
	 opacity: 1;
}
 .alert-icon, .alert-text {
	 display: table-cell;
	 vertical-align: middle;
}
 .alert-icon {
	 min-width: 40px;
	 text-align: center;
	 font-size: 2.2rem;
	 color: white;
	 background-color: rgba(0,0,0,0.25);
	 padding: 1rem;
}
 .alert-text {
	 color: #2d3a51;
	 padding: 2.4rem;
	 width: 100%;
}
 .alert-text > h5 {
	 margin-top: 0;
	 font-weight: 600;
}
 .alert .alert-link {
	 font-weight: normal;
	 color: #4790e6;
}
 .alert ul {
	 margin: 0;
}
 .alert ul li {
	 margin-bottom: 0.2rem;
}
 .alert ul li:last-child {
	 margin-bottom: 0;
}
 .alert-warning {
	 background-color: #fff8f5;
	 border-color: #ffccb3;
}
 .alert-warning .alert-text h5 {
	 color: #ff5400;
}
 .alert-warning button.close {
	 color: #ff5400;
}
 .alert-warning .alert-icon {
	 background-color: #ff5400;
}

.alert-info {
	 background-color: #f7fbff;
	 border-color: #cee5ff;
}
 .alert-info .alert-text h5 {
	 color: #3592ff;
}
 .alert-info button.close {
	 color: #3592ff;
}
 .alert-info .alert-icon {
	 background-color: #3592ff;
}

#check-group {
    animation: 0.32s ease-in-out 1.03s check-group;
    transform-origin: center;
}

#check-group #check {
    animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
    stroke-dasharray: 0, 75px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#check-group #outline {
    animation: 0.38s ease-in outline;
    transform: rotate(0deg);
    transform-origin: center;
}

#check-group #white-circle {
    animation: 0.35s ease-in 0.35s forwards circle;
    transform: none;
    transform-origin: center;
}

@keyframes outline {
  from {
    stroke-dasharray: 0, 345.576px;
  }
  to {
    stroke-dasharray: 345.576px, 345.576px;
  }
}
@keyframes circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes check {
  from {
    stroke-dasharray: 0, 75px;
  }
  to {
    stroke-dasharray: 75px, 75px;
  }
}
@keyframes check-group {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  to {
    transform: scale(1);
  }
}

/* #transaksiSelesai {
  z-index: 100000;
} */
 
.btn-buy, .product__price, .product__category {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 700;
}

/* img .product__image {
  max-width: 60%;
  height: auto;
  vertical-align: top;
} */
hr {
  border: 0;
  height: 3px;
  width: 30px;
  background-color: #d3a01d;
  margin: 22px 0 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.product p {
  margin: 0 0 1.5em 0;
}
p:last-child {
  margin-bottom: 0;
}
.btn-buy {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 1.75em 3.5em;
  white-space: nowrap;
  border-radius: 5px;
}
.product {
  position: relative;
  width: 310px;
  padding: 40px;
  border-radius: 8px;
  background-color: #fff;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.product__image {
  /* width: 70%; */
  margin-left: 12%;
  margin-top: -5px;
  margin-bottom: 30px;
  max-width: none;
}
.product__title {
  font-size: 30px;
  color: #000;
  margin: 0 0 0.5em 0;
  line-height: 1.1;
}
.product__price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30px;
  left: -20px;
  width: 100px;
  height: 100px;
  background-color: #705718;
  color: #fff;
  border-radius: 50%;
}
.product__category {
  display: block;
  color: #cf092c;
  margin-bottom: 1em;
}
.product__btn {
  position: absolute;
  bottom: -30px;
  right: 30px;
  background-color: #1f1f1f;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 30px 25px -20px rgba(0, 0, 0, 0.15);
}
.product__btn:hover {
  box-shadow: 0 36px 28px -20px rgba(0, 0, 0, 0.20);
  background-color: #343434;
  color: rgb(184, 184, 184);
}
