@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

#main-content {
			transition: 0.4s;
			/* height: 1800px !important; */
			font-size: 80%;
		}

		body {
			background-color: #eee;
  			font-family: 'Karla', sans-serif !important;

		}

		.card-body {
			color: #100F0F !important;
		}

		h1 {
			color: #585858e9 !important;
		}

		.nav-link:hover {
			background-color: #7B8FA1 !important;
		}

		.nav-link .fa {
			transition: all 1s;
		}

		.nav-link:hover .fa {
			transform: rotate(360deg);
		}

		.mar {
			margin: 5px 10px 5px !important;
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		}

		.margin-log {
			margin-top: 280px !important;
		}

		.navbar-brand {
			color: #ffffff !important;
			padding-top: 0px;
			padding-bottom: 0px;
			font-size: 22px !important;
			font-weight: normal !important;
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		}

		.navbar-brand span {
			color: #e63946;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			font-size: 40px;
		}

		.btn-outline-secondary {
			border-color: #8064A2 !important;
		}

		.btn-outline-secondary:hover {
			background-color: #adb5bde9 !important;
			color: antiquewhite !important;
		}

		.btn-outline-secondary:active {
			background-color: #adb5bde9 !important;
			color: antiquewhite !important;
		}

		.btn-outline-secondary:visited {
			background-color: #adb5bde9 !important;
			color: antiquewhite !important;
		}
li {
    list-style: none;
    margin: 25px 0 10px 0;
}

a {
    text-decoration: none;
}

h3, h4, h2 {
  margin: 10px 0 10px 0;
  letter-spacing: 2px;      
  font-size: 2.2vmax;
  color: #111;
  font-weight: bold;
}
h5 {
  margin: 5px 0 15px 0;
  letter-spacing: 1px;      
  font-size: 1.2vmax;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  color: rgb(255, 255, 255);
  font-weight: bold;
}
h6 {
  letter-spacing: 1px;      
  /* font-size: 1vmax; */
  color: #222222;
  font-weight: 800;
}

.longEnough {
  max-height: 380px;
  /* width: 350px; */
  overflow: auto;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    transition: 0.4s;
    background-color: #9da0a3e9 !important;
}

.mc {
    margin-top: 6px;
}
.active-main-content {
    margin-left: 250px;
    
}

.active-sidebar {
    margin-left: 0;
}

#main-content {
    transition: 0.4s;
}

.logo-sbn {
    padding-bottom: 0px !important;
    margin-left: 45px !important;
}

.judul-sbn {
    padding-top: 0px !important;
    margin-left: 30px !important;
    padding-bottom: 30px !important;
    font-size: 22px !important;
    font-weight: normal !important;
    color: #F5F5F5 !important;
}

.judul-sbn span {
    color: #e63946;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.dataku {
    padding-top: 25px;
}

.ctr {
    text-align: center;
}

.margin-set {
    margin-top: 90px !important;
}

.ic {
    padding-right: 20px;
}

a .active {
    background-color: #4e4e4ee9;
}

i :not(.nav-col){
	color: #ffffff;
}

.custom-card {
  margin: 20px;
  /* background: #705718; */
  background: #eeaa23;
/* background: linear-gradient(90deg, rgba(255,226,53,1) 0%, rgba(62,76,34,1) 27%); */
  height: 130px;
  width: 750px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-card-onprocess {
  margin: 20px;
  background: #013a63;
  height: 130px;
  width: 750px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-card-data {
  margin: 20px;
  background: #495057;
  height: 130px;
  width: 750px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.onprocess-content {
	margin-top: -13px;
}

.field-data {
	margin-left: -60px;
	margin-top: -5px;
}

.custom-card-content {
  padding: 0 2rem 0 5rem;
}

.wait-image {
  filter: drop-shadow(8px 8px 8px rgba(54, 54, 54, 0.621));
  margin-left: -60px;
}

.wait-field {
  padding-top: 10px;
  text-align: left;
}

.field-modal {
  text-align: right;
}

.wait-harga{
  /* padding-top: 20px; */
  font-size: 20px; 
  text-align: right;
}

.card-no {
  font-size: 20px; 
}

.wait-harga-modal{
  padding-top: 20px;
  font-size: 20px; 
  text-align: right;
}

.btn-pay {
  justify-content: end;
}

.wait-details {
  padding-top: 15px;
  text-align: right;
}

.payment {
  margin-top: 20px;
}

.pembayaran {
  margin-top: 10px;
  margin-left: 3px;
}

.detail-card a {
  text-decoration: none;
}

.detail-card {
	margin-top: 10px;
  text-align: end;
}

.payment-notes {
  font-size: 15px;
  text-align: end;
}

/* .bukti-modal */

.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}


.order-card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.notif-card {
  border: none;
  border-radius: 5px;
  height:500px;
  background: rgb(51,92,103);
  background: linear-gradient(90deg, rgba(51,92,103,1) 48%, rgba(72,130,145,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.notif-card .card-body h2 {
  color: #eeeeee;
}

.side-card {
  border: none;
  border-radius: 5px;
  height:500px;
  background: rgb(72,130,145);
  background: linear-gradient(90deg, rgba(72,130,145,1) 6%, rgba(51,92,103,1) 64%);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.side-card .card-body h2 {
  color: #eeeeee;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
